<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>反馈管理</title>
    <div th:replace="common::css"></div>
    <div th:replace="common::js"></div>
</head>
<body style="background-color: whitesmoke;overflow-x: hidden">
<div th:replace="common::head"></div>
<!--start-->
<div style="margin-top: 10px;">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md3" style="padding-left: 50px">
            <div th:replace="common::leftmenu"></div>
        </div>
        <div class="layui-col-md9" style="background-color:whitesmoke;padding-top: 10px;padding-right: 50px">
            <div class="layui-row layui-col-space8" style="text-align: center">
                <div th:if="${feedbackList.size()==0}" class="layui-card" style="margin-top: 4px">
                    <div>暂无反馈</div>
                </div>
                <div th:each="feedback:${feedbackList}" class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body" style="padding: 10px;">
                            <div class="layui-row">
                                <div class="layui-col-md10" style="text-align: left">
                                    <p th:text="${feedback.title}"
                                       style="font-size: 16px;font-weight: bold;color: #009688"></p>
                                    <p th:if="${session.user.role}=='admin'" style="color: grey">反馈用户：[[${feedback.username}]] (id:[[${feedback.id}]])</p>
                                    <p th:text="${#dates.format(feedback.createTime, 'yyyy/MM/dd HH:mm:ss')}"
                                       style="color: grey"></p>
                                    <hr class="layui-border-green">
                                    <p>反馈内容：[[${feedback.content}]]</p>
                                    <p>回复内容：[[${feedback.reply}]]</p>
                                </div>
                                <div class="layui-col-md2">
                                    <div class="layui-row" style="text-align: right;margin-bottom: 10px;">
                                        <p th:if="${feedback.status}==0" style="color: red">待处理</p>
                                        <p th:if="${feedback.status}==1" style="color: green">已处理</p>
                                    </div>
                                    <!--去除and ${feedback.status}==0，回复按钮一直存在-->
                                    <div th:if="${session.user.role}=='admin'" class="layui-row" style="text-align: right">
                                        <button th:onclick="'reply('+${feedback.id}+')'"
                                                class="layui-btn layui-btn-danger layui-btn-sm">答复
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-->
<script>
    let reply;
    layui.use(['layer','form','jquery'],function () {
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.jquery;

        //回复按钮单击事件
        reply = function(id){
            //设置表单的隐藏元素id值
            $("#reply-id").val(id);
            $("#reply-content").val('');
            layer.open({
                type: 1,//重要
                title: '回复',
                resize: false,
                anim: 4,//左边滚入
                area: ['500px', '312px'],
                content: $('#replayForm')
            });
        }

        form.on('submit(submitReply)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            $.ajax({
                type: 'POST',
                url: '/submitReply',
                async: false,
                contentType: 'application/json',
                data: JSON.stringify(data.field),
                success: function (res) {
                    if (res.code === 1) {
                        layer.msg(res.msg);
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        layer.msg(res.msg);
                    }
                },
                error: function (err) {
                    layer.msg(err);
                }
            });//end ajax
            return false;
        });

    });
</script>
<!--编辑资讯，弹出层表单-->
<form class="layui-form layui-form-pane" style="display: none;padding: 10px;" id="replayForm">

    <!--传递id，根据id进行更新操作-->
    <input type="hidden" id="reply-id" name="reply-id">

    <label style="font-size: 10px; color: #009688">回复内容</label>
    <div class="layui-form-item">
        <textarea name="reply-content" id="reply-content" placeholder="请输入内容" class="layui-textarea"
                  style="height: 155px;"></textarea>
    </div>
    <div class="layui-form-item">
        <button lay-submit lay-filter="submitReply" class="layui-btn" style="width: 100%;">
            <i class="layui-icon layui-icon-release"></i>
            提交
        </button>
    </div>
</form>
</body>
</html>